body, html {
    background-color: #000;
    width: 100%;
    height: 100%;
    color: #fff;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#value {
    font-style: 3em;
}

input {
    width: 360px;
}

img {
    display: none;
}